{% extends "layout.njk" %}

{% block title %}
<title>Teachers</title>
{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="/styles/teacher.css">
{% endblock styles %}

{% block content %}
<div class="card">
    {% for teacher in teacher %}
    <div>
        <p>{{teacher.name}}</p>
    </div>
    {% endfor %}
        
</div>
{% endblock content %}