{% extends "layout.njk" %}

{% block title %}
<title>Teachers Register</title>
{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="/styles/teachersRegister.css">
{% endblock styles %}

{% block content %}
<div class="card">
    <section class="avatar" style="background:url(https://source.unsplash.com/collection/10356769/1600x900) no-repeat center center / cover"></section>
    <section class="details">
        <form method="POST" action="/teacher">
            <h3>Registar Professor</h3>
            {% include "teachers/fields.njk"%}
        </form>
    </section>
</div>
{% endblock content %}