{% extends "layout.njk" %}


{% block title %}
    <title>conteúdo</title>
{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="/styles/content.css">
{% endblock style %}



{% block main %}
<main>

    <section>
        <div class="cards">
        {% for course in coursesCard %}
            <div class="card" id="{{course.id}}">
                <img src="{{course.imgSrc}}" alt="{{course.name}}">
                <h2>{{course.name}}</h2>
                <footer>
                    <h4>{{course.duration}}</h4>
                    <p>{{course.price}}</p>
                </footer>
            </div>
        {% endfor %}
        </div>
    </section>
    
</main>
{% endblock main %}

{% block script %}
    <script src="/scripts/script.js"></script>
{% endblock script %}