<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Managment</title>
    <link rel="stylesheet" href="./styles/admin.css">
    <link rel="stylesheet" href="./styles/home.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="circle">
                <h2>Professores</h2>
            </div>
            <div class="content">
                <p>Listagem de professores cadastrados</p>
                <a href="/teachers">Acessar</a>
            </div>
        </div>
        <div class="card">
                <div class="circle">
                    <h2>Estudantes</h2>
                </div>
            <div class="content">
                <p>Listagem de estudantes cadastrados</p>
                <a href="/students">Acessar</a>
            </div>
        </div>
    </div>
</body>
</html>
