{% extends "layout.njk" %}
{% block title %}
    <title>não encontrado</title>
{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="/styles/notFound.css">
{% endblock style %}

{% block content %}
<div class="squere">
    <h1>PÁGINA NÃO ENCONTRADA!</h1>
    <h2>Por favor selecione uma das opções no menu a cima.</h2>
</div>
{% endblock content %}
    
