.squere{
    background-color: white;
    
    width: 640px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding:16px;
    margin:  32px auto;
    box-shadow: 3px 5px rgba(0, 0, 0, 0.3);
}
.squere h1,
.squere h2{
    color: black;
    text-align: center;
}
