@keyframes colorChange{
    from{border: 1px solid #131217}
    to{border: 1px solid var(--color-green);}
}

main section div.cards{
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    grid-gap: 50px;
        
    
}

.card{
    margin-bottom: 0;
    background-color: #332656;
    width: 250px;
    height: 500px;
    border-radius: 10px;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr;
    justify-items:center;
}

.card:hover{
    transition: height 300ms, width 300ms;
    height: 505px;
    width: 255px ;
    animation: colorChange;
    animation-duration: 400ms;
    animation-fill-mode: both;
}
.card img{
    border:0;
    filter: brightness(100%);
    padding: 10px;
    align-self: flex-start;
    width: 100px;
    height: 100px;
    
}
.card h2{
    color: white;
}

.card footer{
    display: grid;
    grid-template: 1fr/ 1fr 1fr;
    grid-gap: 3vw;
    align-items: center;
    color: white;
}
.card footer h4{
    
}

.card footer p{
    font-weight: bold;
    text-align: center;
    
    
}
.card footer p:hover{
    transition: border-bottom 500ms;
    border-bottom: 0.2px solid white;
    cursor: pointer;
}

/* =========== MODAL =========== */
.modal-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color:rgba(51, 38, 86, 0.7);
    top: 0;
    opacity: 0;
    visibility: hidden;
    
}
.modal-overlay .modal{
    position: relative;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    background-color: #ffffff;
    border-radius: 8px;
}

.modal-overlay .modal .modal-close{
    position: absolute;
    color:black;
    top: 10px;
    right: 10px;
    cursor: pointer;
    height: 24px;
}
.modal-overlay .modal .maximize{
    position:absolute;
    top: 19px;
    right: 35px;
    cursor: pointer;
}

.modal-overlay.active{
    visibility: visible;
    opacity: 1;
}
.modal-overlay .modal.maximize-screen{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: #ffffff;
    border-radius: 8px;
}

iframe{
    width: 100%;
    height: 94%;
    position: absolute;
    top: 5vh;

}